<footer>
    <div class="footer-icons">
        <a href="https://github.com/Heruzinyo/Patcheados" target="_blank" aria-label="GitHub">
            <img src="/svg/services/github.svg" alt="GitHub">
        </a>
        <a href="{{ "index.xml" | relURL }}" target="_blank" aria-label="RSS">
            <img src="/svg/services/rss.svg" alt="RSS">
        </a>
    </div>
    <span class="footer-info">As informações deste site estão licenciadas sob a licença <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br" target="_blank">CC-BY-NC-SA 4.0</a>.</span>
    <span class="footer-info">O código-fonte está licenciado sob a <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a>.</span>
    <span class="footer-info">Conteúdos relacionados a jogos e patches (como imagens, capturas de tela, nomes e arquivos distribuídos) pertencem aos seus respectivos criadores e autores originais. Esses materiais são utilizados apenas para fins informativos, de documentação e divulgação, sem qualquer finalidade comercial. Caso algum autor ou responsável pelo conteúdo se sinta prejudicado, o material poderá ser removido mediante solicitação.</span>
    <span class="footer-info">Última Atualização: {{ time.Format "02 de January de 2006, 15:04." now }}</span>
</footer>
